/*right cloum*/
.main_content{
    position: absolute;
    top: 500px;
    right: 145px;
    border-left: 2px solid black;
    padding-left: 35px;
    height: 1000px;
}
.right_titel{
    font-size: 19px;
    font-weight: 200;
    border-bottom: 2px solid black;
    width: 290px;
    padding-bottom: 10px;
}
.right_img_1{
    background-image: url(./IMGS/model1.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    right: 5px;
    width: 280px;
    height: 300px;
    margin-top: 20px;
}
.right_date{
    position: absolute;
    top: 370px;
    margin-right: 10px;
}
.bold_titel{
    position: absolute;
    top: 400px;
    font-size: 30px;
    margin-right: 10px;
}
.right_description{
    position: absolute;
    top: 440px;
    width: 300px;
    color: rgba(31, 31, 31, 0.877);
    margin-right: 10px;
}
.right_description p{
    position: absolute;
    top: 110px;
    font-size: 17px;
    font-weight: 300;
}
.more_icon_1{
    position: absolute;
    right: 45px;
    top: 117px ;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px black solid;
}
.right_img_2{
    background-image: url(./IMGS/model2.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 570px;
    right: 5px;
    width: 280px;
    height: 400px;
    margin-top: 20px;
}
/*center cloum*/
.center_col{
    position: absolute;
    top: 0px;
    right: 350px;
    margin-left: 10px;
    margin-right: 10px;
    height: 1000px;
    width: 370px;
    padding-left: 20px;
    border-left: 2px solid black;
}
.center_col_titel h4{
    font-size: 20px;
    margin-right: 15px;
}
.center_col_titel p{
    position: absolute;
    top: 40px;
    width:350px ;
    margin-right: 15px;
}
.center_col_img{
    background-image: url(./IMGS/centercolmodel.jpg);
    background-size: cover;
    background-position: bottom;
    width: 350px;
    height: 240px ;
    position: absolute;
    top: 100px;
}
.center_date{
    position: absolute;
    top: 380px;
    margin-right: 15px;
}
.center_description h2{
    position: absolute;
    top: 410px;
    margin-right: 15px;
    font-size: 20px;
}
.center_description h4{
    position: absolute;
    top: 450px;
    margin-right: 15px;
    color: rgba(31, 31, 31, 0.877);
    font-size: 14px;
    width: 340px;
}
.center_description p{
    position: absolute;
    top: 560px;
    font-size: 17px;
    font-weight: 300;
    margin-right: 15px;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
    width: 355px;
}
.more_icon_2{
    position: absolute;
    top: 567px;
    right:55px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px black solid;
}
.centercol_part_2{
    margin-right: 15px;
}
.center_date_2{
    position: absolute;
    top:635px;
}
.center_col_moreinfo{
    position: absolute;
    top: 670px;
    width: 355px;
}
/*left cloum*/
.left_col{
    position: absolute;
    top: 0px;
    right: 793px;
    width: 400px;
    height: 900px;
    margin-left: 125px;
    width: 290px;
}
.first_titel h1{
    margin-top: 20px;
    margin-right: 15px;
    width: 150px;
}
.first_titel h4{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 15px;
}
.first_titel p{
    margin-right: 15px;
}
.person_avatar{
    margin-top: 35px;
    margin-right: 15px;
}
.person_avatar_img1{
    background-image: url(./ICONS/personicon2.png);
    background-size: cover;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 270px ;
}
.person_avatar_img1 h4{
    position: absolute;
    top: 60px;
    width: 290px;
}
.person_avatar_img1 p{
    position: absolute;
    top: 85px; 
    width: 290px; 
}
.person_avatar_img1_part2{
    position: absolute;
    top: 130px;
    padding-bottom: 30px;
    width: 290px;
    border-bottom: 2px black solid;
}

.person_avatar_img2{
    background-image: url(./ICONS/personicon1.png);
    background-size: cover;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 500px;
}
.person_avatar_img2 h4{
    position: absolute;
    top: 57px;
    width: 290px;
}
.person_avatar_img2 p{
    position: absolute;
    top: 85px;
    width: 290px;
}
.person_avatar_img2_part2{
    position: absolute;
    top: 125px;
    padding-bottom: 30px;
    width: 290px;
    border-bottom: 2px black solid;
}
.left_col_fashion_img{
    background-image: url(./IMGS/fashion1.jpg);
    background-size: cover;
    width: 280px;
    height: 300px ;
    position: absolute;
    top: 710px;
    margin-right: 15px;
}
.footer{
    position: relative;
    top: 1480px;
    margin-right: 125px;
    margin-left: 125px;
    border-top: 2px black solid ;
    padding-top: 15px;
}
.bottem_footer{
    display: flex;
    text-align: start;
    margin-right: 20px;
}
.right_info{
    font-size: 22px;
    margin-left: 50px;
}
.right_info p{
    border-bottom: 2px orange solid;
    width: 100px;
}
.right_info_item{
    font-size: 18px;
    margin-top: 10px;
    list-style-position: inside;
    list-style-type: circle;
    
}
.center_info{
    font-size: 22px;
    margin-left: 50px;
}
.center_info p{
    border-bottom: 2px orange solid;
    width: 100px;
}
.fotter_link{
    margin-top: 10px;
}
.center_info_link{
    list-style: none;
    color: black;
    font-size: 18px;
    line-height: 40px;
    transition: all 0.3s ease 40ms;
    text-decoration:none;
}
.center_info_link:hover{
    color: rgb(255, 136, 0); 
}
.right_info_item{
    font-family: sans-serif;
}
@media only screen and (max-width: 539px){
    /*
    right
    */
    .main_content{
        position: absolute;
        top: 500px;
        right: 145px;
        border-left:none;
        padding-left: 35px;
        height: 1000px;
    }
    .right_titel{
        text-align: center;
        font-size: 15px;
        width: 150px;
        padding-bottom: 5px;
        position: relative;
        top: -200px;
        right: -25px;
    }
    .right_img_1{
        position: relative;
        top: -200px;
        right: -135px;
        width: 170px;
        height: 200px;
    }
    .right_img_2{
        position: relative;
        top: -420px;
        right: 40px;
        margin-right: 10px;
        width: 170px;
        height: 200px;
        margin-top: 20px;
    }
    .right_date{
        display: none;
    }
    .bold_titel{
        position: absolute;
        top: 60px;
        font-size: 30px;
        margin-right: 5px;
    }
    .right_description{
        position: absolute;
        top: 120px;
        left: 18px;
        width: 300px;
        color: rgba(31, 31, 31, 0.877);
        text-align: center;
        width: 300px;
        padding-bottom: 10px;
        border-bottom: 2px black solid;
    }
    .more_icon_1{
        display: none;
    }
    .right_description p{
        display: none;
    }
    /*
    center
    */
    .center_col{
        position: absolute;
        top: none;
        right: none;
        margin-left:none;
        margin-right: none;
        height: none;
        width: none;
        padding-left: none;
        border-left: none;
    }
    .center_col_titel h4{
        font-size: 20px; 
        position: absolute;
        top: 250px;
        right: -365px;      
    }
    .center_col_titel p{
        position: absolute;
        text-align: center;
        top: 290px;
        right: -495px; 
        width: 350px;
    }
    .center_col_img{
        width: 380px;
        height: 240px ;
        position: absolute;
        top: 350px;
        right: -500px;
    }
    .center_date{
        display: none;
    }
    .center_description h2{
        display: none;
    }
    .center_description h4{
        display: none;
    }
    .center_description p{
        display: none;
    }
    .more_icon_2{
        display: none;
    }
    .centercol_part_2{
        position: absolute;
        top: -50px;
        right: -505px;
        text-align: center;
    }
    .center_date_2{
        display: none;
    }
}